.join {
  font-size: 14px;
  line-height: 1.14;
  color: $white-title-color;
}

.page-footer__join {
  margin-bottom: 20px;
}

.soc {
  &--white {
    display: flex;
    color: $white-title-color;

    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.soc__link {
  &--bg {
    background-color: $soc-bg-dark;
    border-radius: 50%;
  }
}

.soc__link--bg .soc__icon {
  fill: $white-title-color;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}
